<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Page</title>
  <link rel="stylesheet" href="user.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <div class="cnt">
    <div class="container">
      <nav class="navbar rounded px-5">
        <div class="container-fluid">
          <a class="navbar-brand text-white">
            <h3>Welcome Back, <%= username %></h3>
          </a>
          <form class="d-flex" role="search" action="/logout" method="post">
            <button type="submit" class="btn" style="color:white;">Logout</button>
          </form>
        </div>
      </nav>

      <div class="mb-5 mx-5">
        <form action="/userGallery" method="post">
          <button type="submit" class="btn btn-success btn-lg">User Gallery</button>
        </form>
      </div>

      <div class="mb-5">
        <div class="search-bar col-md-6 mx-auto">
          <form action="/search" method="post">
            <h1 class="text-center my-5" style="color:white;">Vibe Link</h1>
            <div class="input-group mb-3">
              <input id="search-field" type="text" class="form-control" placeholder="Enter your artist track name" name="trackName" required>
              <button type="submit" class="btn btn-success search-btn">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div id="song-container" class="">
        <% for(let i = 0; i < tracks.length; i++) { %>
        <div class="single-result row align-items-center my-3 p-3">
          <div class="col-lg-2 text-center">
            <img class src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Circle-icons-music.svg/1024px-Circle-icons-music.svg.png" style="height:100px ;" alt="" />
          </div>
          <div class="col-lg-4 text-center">
            <h3 class="track-name">
              <%= tracks[i].tracktitle %>
            </h3>
            <p class="author lead" style="color: #000000;"> <em>Album: <%= tracks[i].albumtitle %> -- </em>
              <span>
                <b>
                  <%= tracks[i].artistname %>
                </b>
              </span>
            </p>
            <p>Release on <%= tracks[i].releasedate %></p>
            <p>Genre: <%= tracks[i].genre %></p>
          </div>
          <div class="col-lg-6 text-center">
            <form action="/rate" method="post">
              <div class="input-group mb-3 w-50">
                <input type="text" class="form-control" placeholder="0 ~ 10" aria-label="" aria-describedby="button-addon2" name="rating" required>
                <button class="btn btn-success" type="submit" id="button-addon2">Rate</button>
              </div>
            </form>
          </div>

          <div class="col-lg-2 text-center">
            <form action="/addtracks" method="post">
              <button class="btn btn-success" type="submit" id="button-addon3">Add to playlist</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>

      <div class="container-fluid w-75 mt-5 pb-5">
        <div class="card-group">
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2022/03/6.-Pink-Floyd-%E2%80%98Dark-Side-of-the-Moon-1973-album-art-billboard-1240.jpg?w=768" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">POP</h5>
              <p class="card-text">A pop song is a catchy, mainstream tune with memorable melodies, simple lyrics, and upbeat rhythms, appealing to a broad audience.</p>
              <form action="/pop" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2023/07/outkast-stankonia-cover-2000-billboard-1240.jpg?w=768" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RAP</h5>
              <p class="card-text">A rap song features rhythmic speech, strong beats, and rhymes. It often addresses social issues, personal experiences, or street life.</p>
              <form action="/rap" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/media/ariana-grande-sweetner-album-art-2018-billboard-1240.jpg?w=768" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ROCK</h5>
              <p class="card-text">A rock song features electric guitars, strong rhythms, and powerful vocals. It often explores themes of rebellion, love, and personal struggles.</p>
              <form action="/rock" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2022/03/30.-FKA-Twigs-%E2%80%98LP1-2014-album-art-billboard-1240.jpg?w=768" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LATIN</h5>
              <p class="card-text">A Latin song features rhythmic beats, vibrant melodies, and often incorporates Spanish or Portuguese lyrics, celebrating culture, dance, and passion.</p>
              <form action="/latin" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card-group">
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2021/12/Japanese-Breakfast-Jubilee-album-art-2021-billboard-1240.jpg?w=768" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">R&B</h5>
              <p class="card-text">A rhythm and blues song features soulful vocals, strong beats, and emotive lyrics. It blends jazz, gospel, and blues influences.</p>
              <form action="/rnb" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2023/07/SZA-SOS-album-art-billboard-1240.jpg?w=1024" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EDM</h5>
              <p class="card-text">An edm song features electronic beats, synthesized sounds, and repetitive hooks. It is designed for dance floors and energetic performances.</p>
              <form action="/edm" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2023/07/rihanna-anti-cover-2016-billboard-1240.jpg?w=768" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ENGLISH</h5>
              <p class="card-text">An english song features lyrics in English, spanning various genres and styles, and often reflecting cultural themes and personal stories.</p>
              <form action="/english" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
          <div class="card">
            <img src="https://www.billboard.com/wp-content/uploads/2022/03/37.-Madonna-%E2%80%98True-Blue-1986-album-cover-billboard-1240.jpg?w=774" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPANISH</h5>
              <p class="card-text">A Spanish song features lyrics in Spanish, embracing diverse genres and rhythms, often highlighting cultural heritage, emotions, and vivid storytelling.</p>
              <form action="/spanish" method="post">
                <button type="submit" class="btn btn-danger">Top 10</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <div class="py-5">
      </div>

    </div>
</body>

</html>